@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(209, 209, 209);
}

h1 {
  font-size: 22px;
}

p {
  font-size: 14px;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
  padding: 15px;
}

header p {
  margin-top: 10px;
}

.steps {
  width: 80%;
  margin: 0 auto;
  background: cadetblue;
  content: "";
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.sponser {
  width: 80%;
  margin: 10px auto;
  background: rgb(42, 75, 77);
  content: "";
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.steps p {
  padding: 5px;
}

.steps i {
  padding: 5px;
}

.container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.cardBox {
  margin: 10px 10px 0px 0px;
}

.pr {
  width: 250px;
  margin: 10px auto 0 auto;
  color: white;
  padding: 10px;
  background: rgb(42, 75, 77);
  border-radius: 5px;
}

.firstinfo,
.badgescard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
}

.card {
  width: 290px;
  min-height: 50px;
  padding: 15px;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translate(-5px);
}

.card:after {
  content: "";
  display: block;
  width: 150px;
  height: 200px;
  background: cadetblue;
  position: absolute;
  transform: rotate(-30deg);
  top: -24px;
  left: -88px;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.firstinfo .profileinfo {
  padding: 0px 15px;
}

.firstinfo .profileinfo h2 {
  font-size: 16px;
  color: black;
}

.firstinfo .profileinfo p.bio {
  padding: 5px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
}

@media only screen and (max-width: 560px) {
  .container {
    width: 95%;
  }
}
